@model Post
@{
}
<section id="Post">
    <div class="row">
        <div class="col-12">
            <h1>
                @Model.Title
                <small class="text-muted">@Model.PublicationDate?.ToString("dd/MM/yyyy")</small>
            </h1>
            <div>
                <markdown>@Model.Content)</markdown>
            </div>
        </div>
    </div>
</section>
<section id="Comments">
    <h2>Comments</h2>
    <button class="btn btn-dark newComment"  data-postId="@Model.PostId">New comment</button>
    <hr/>
    @if (Model.Comments != null)
    {
        if (Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                <div class="row">
                    <div class="col-12">
                        <h5>
                            @comment.Author
                            @if (!string.IsNullOrEmpty(comment.Email))
                            {
                                <text>(@comment.Email)</text>
                            }
                            <small class="text-muted">@comment.PublicationTime.ToString("dd/MM/yyyy hh:mm")</small>
                        </h5>
                        <p id="@comment.CommentId">@comment.Content</p>
                        @if (comment.Replies != null)
                        {
                            if (comment.Replies.Count > 0)
                            {
                                foreach (var reply in comment.Replies)
                                {
                                    <div class="row">
                                        <div class="offset-1 col-11">
                                            <h5>
                                                @reply.Author
                                                @if (!string.IsNullOrEmpty(reply.Email))
                                                {
                                                    <text>(@reply.Email)</text>
                                                }
                                                <small class="text-muted">@reply.PublicationTime.ToString("dd/MM/yyyy hh:mm")</small>
                                            </h5>
                                            @reply.Content
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <button class="btn btn-dark reply" data-commentId="@comment.CommentId" data-postId="@Model.PostId">Reply</button>
                    </div>
                </div>
                <hr/>
            }
            <button class="btn btn-dark newComment" data-postId="@Model.PostId">New comment</button>
        }
    }
</section>

<div class="modal" tabindex="-1" id="commentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Comment / reply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <input type="text" id="postId" />
                    <input type="text" id="commentId" />
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var modal = new bootstrap.Modal(document.getElementById('commentModal'));
        document.querySelector('.newComment').addEventListener("click", function() {launchModalComment()});
        document.querySelector('.reply').addEventListener("click", function() {launchModalComment()});

        var launchModalComment = function() {
            document.getElementById("postId").value = document.querySelector('.newComment').dataset.postid;
            launchModal();
        };
        var launchModalReply= function() {
            document.getElementById("postId").value = document.querySelector('.reply').dataset.postid;
            document.getElementById("commentId").value = document.querySelector('.reply').dataset.commentid;
            
            launchModal();
        };

        var launchModal = function() {
            console.log("test");
            modal.show();
        };
    </script>
}